@import 'font.css';

@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");

:root {
  --accent: #006069;
  --txt: #6F7682;
  --navBack: rgba(255, 255, 255, 0.3);
  --darkGreen: #003A3E;
  --lightGrey: #F1F2F6;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* html {
  overflow-x: hidden;
} */

body {
  overflow-x: hidden;
  font-family: "Gotham";
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
}

/* header start */

.header {
  position: relative;
  background: var(--darkGreen);
  height: 100vh;
  overflow: hidden;
  z-index: 998;
}

.header::after {
  content: "";
  position: absolute;
  width: 1546.72px;
  height: 1224.76px;
  left: 1150.16px;
  top: -944px;
  background: rgba(2, 190, 179, 0.3);
  -webkit-filter: blur(250px);
  filter: blur(250px);
  z-index: -1;
  -webkit-transform: rotate(0.29deg);
  -ms-transform: rotate(0.29deg);
  transform: rotate(0.29deg);
}

.header::before {
  content: "";
  position: absolute;
  width: 1996.55px;
  height: 1224.76px;
  left: -1008.84px;
  top: 752px;
  background: rgba(2, 190, 179, 0.3);
  -webkit-filter: blur(250px);
  filter: blur(250px);
  z-index: -1;
  -webkit-transform: rotate(0.29deg);
  -ms-transform: rotate(0.29deg);
  transform: rotate(0.29deg);
}

.header-nav {
  background: var(--navBack);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 998;
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.header-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 37px;
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 42px;
  width: 50px;
  height: 24px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
  margin-left: 20px;
}

.header-link {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.header-link-dark {
  color: var(--accent);
}

.header__item-lang,
.header-list2 .header__item-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px 4px 5px 5px;
}

.header__item-lang button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.circle {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 22.36px;
  height: 20px;
  background: #fff;
  border-radius: 50px;
}

.circle-dark {
  background: var(--accent);
}

.circle.move {
  right: 2px;
  left: unset;
}

.translate {
  z-index: 1;
}

.translate.active {
  color: #01688B;
}

.translate-dark.active {
  color: #fff;
}

.header-link.exit,
.line {
  display: none;
}

.header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.teethUp {
  max-width: 499px;
  max-height: 250px;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  overflow: hidden;
  z-index: 4;
  transition: .6s;
}

.teethUp.down {
  -webkit-transform: translateY(145px);
  -ms-transform: translateY(145px);
  transform: translateY(145px);
}

.teethBottom {
  max-width: 499px;
  max-height: 233px;
  z-index: 3;
  overflow: hidden;
  -webkit-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  transform: translateY(-70px);
  transition: .7s;
  position: relative;
}

.teethBottom.high {
  -webkit-transform: translateY(-145px);
  -ms-transform: translateY(-145px);
  transform: translateY(-145px);
}

.teethUp img,
.teethBottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.letter {
  width: 1180px;
  height: 227.39px;
  overflow: hidden;
}

.letter img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  opacity: 1;
  object-fit: cover;
  transition: 0.8s;
}

.letter-img.none,
.about-header-form.none {
  opacity: 0;
}

.animate__animated.animate__fadeIn {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animate__animated.animate__slideInUp {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: -30px;
}

.header-socials-text {
  border-radius: 15px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat";
  margin-bottom: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 9px;
}

.header-socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header-socials-link {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
}

.header-socials-btn {
  color: #fff;
  padding: 10px 36px;
  background: #69696949;
  border-radius: 20px;
}

.header-list2-dark {
  background: rgba(0, 96, 105, 0.3);
}

/* header end */

/* section */

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.swiper-container {
  height: 100vh;
}

.header-link-dark {
  color: var(--accent) !important;
}

/* section */

/* about start */

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  padding: 70px 0 50px;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 35px;
  position: relative;
  margin-bottom: 30px;
}

.about-info::after {
  position: absolute;
  content: "";
  height: 52px;
  width: 1px;
  left: 72px;
  background: #000;
}

.about-info-icon {
  max-width: 52px;
  width: 100%;
  height: 52px;
  background: #d9d9d9;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-info-title {
  max-width: 500px;
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
}

.about-info-title span {
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
}

.about-info-txt {
  max-width: 814px;
  font-size: 16px;
  font-family: "Montserrat";
  color: #000;
  margin-bottom: 15px;
  text-align: justify;
}

.about-content-img {
  max-width: 387px;
  max-height: 340px;
  overflow: hidden;
  position: relative;
}

.about-content-video-link img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  z-index: 1;
  width: 100px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.about-content-img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-content-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.about-content-form input,
.about-content-form select,
.about-content-form button {
  height: 58px;
  padding: 20px 28px;
  background: #e8e8e8;
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  color: #a8a8a8;
  width: 424px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.about-header-form {
  display: none;
  transition: .4s;
}

.about-content-form input::-webkit-input-placeholder {
  color: #a8a8a8;
}

.about-content-form input::-moz-placeholder {
  color: #a8a8a8;
}

.about-content-form input:-ms-input-placeholder {
  color: #a8a8a8;
}

.about-content-form input::-ms-input-placeholder {
  color: #a8a8a8;
}

.about-content-form input::placeholder {
  color: #a8a8a8;
}

.about-content-form button {
  background: var(--accent);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.about-content-form select {
  /* Arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 1.7rem top 50%;
  background-size: 0.65rem auto;
}

.about-header-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/arrowWhite.svg);
  background-repeat: no-repeat;
  background-position: right 1.7rem top 50%;
  background-size: 0.65rem auto;
}

/* .about-content-form select option *,
.about-content-form select option *::after,
.about-content-form select option *::before {
  border-radius: 15px;
  padding: 15px;
} */

select {
  display: none !important;
}

.dropdown-select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: normal;
  height: 58px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: auto;
  background: #e8e8e8;
  border-radius: 15px;
  font-family: "Montserrat";
  font-size: 16px;
  color: #a8a8a8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 1.7rem top 50%;
  background-size: 0.65rem auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
}

.dropdown-select.open:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown-select.open .list {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.dropdown-select.open .option {
  cursor: pointer;
}

.dropdown-select.wide {
  width: 100%;
}

.dropdown-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.dropdown-select .list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  -o-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  background-color: #e8e8e8;
  border-radius: 15px;
  padding: 5px 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  max-height: 250px;
}

/* .dropdown-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.dropdown-select .dd-search{
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;
margin:0.5rem;
}

.dropdown-select .dd-searchbox{
width:90%;
padding:0.5rem;
border:1px solid #999;
border-color:#999;
border-radius:4px;
outline:none;
}
.dropdown-select .dd-searchbox:focus{
border-color:#12CBC4;
} */

.dropdown-select .option {
  cursor: default;
  font-weight: 400;
  line-height: 35px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  list-style: none;
}

.exit {
  position: fixed;
  top: 20px;
  right: 28px;
  z-index: 999;
}

.header-socials-fixed {
  bottom: 5%;
  left: 28px;
  position: fixed;
  z-index: 999;
}

.header-socials-fixed .header-socials-text {
  font-size: 12px;
  color: var(--accent);
  padding: 5px 6px;
  border: 1px solid var(--accent);
}

.header-socials-fixed .header-socials-link {
  font-size: 20px;
  color: var(--accent);
}

.dropdown-select .option.selected {
  color: #006069;
}

.dropdown-select a {
  color: #aaa;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
  color: #666;
}

/* about end */

/* course start */

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.courses-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid var(--accent);
  font-size: 40px;
  color: var(--accent);
  padding: 8px 20px;
  display: inline-block;
  margin-bottom: 30px;
}

.course-cards {
  width: 100%;
  margin-bottom: 30px;
}

.course-cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.course-card {
  max-width: 400px;
  width: 100%;
  position: relative;
}

.course-card:nth-of-type(2):after,
.course-card:nth-of-type(2)::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 2px;
  background: #000;
  top: 0;
  left: -13%;
}

.course-card:nth-of-type(2):after {
  right: -13%;
  left: unset;
}

.course-card-icon {
  margin-bottom: 10px;
}

.course-card-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.course-card-txt {
  font-size: 16px;
  color: #b0b0b0;
  margin-bottom: 10px;
  height: 74px;
}

.course-card-btn {
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--accent);
  border-radius: 19px;
  height: 60px;
}

.course-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.course-item {
  width: 301px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  padding: 15px 0 17px 20px;
  position: relative;
}

.course-item:nth-of-type(1)::after {
  display: none;
}

.course-item::after {
  position: absolute;
  content: "";
  height: 58px;
  width: 1px;
  background: #000;
  left: -12px;
}

.course-item.active {
  border-radius: 19px;
  background: var(--accent);
}

.course-item.active .about-info-icon {
  background: none;
  width: 20px;
  height: 26px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.course-item.active .about-info-icon img {
  fill: #fff;
}

.about-info-icon img:nth-of-type(2) {
  display: none;
}

.course-item.active .about-info-icon img:nth-of-type(1) {
  display: none;
}

.course-item.active .about-info-icon img:nth-of-type(2) {
  display: block;
}

.course-item.active .course-link {
  color: #fff;
}

.course-link {
  color: #000;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 328px;
  padding: 0 68px 0 45px;
  background: #D9D9D9;
  border-radius: 19px;
  position: relative;
}

.course-box-link {
  display: none;
}

.course-box.right {
  padding: 0 0 0 45px;
}

.course-box-info {
  max-width: 457px;
  width: 100%;
}

.course-box-title {
  font-size: 48px;
}

.course-box-sub {
  font-size: 24px;
  margin-bottom: 68px;
}

.course-box-txt {
  font-size: 16px;
  color: #B0B0B0;
}

.course-box-img {
  position: relative;
  overflow: hidden;
}

.course-box-imgplay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.course-box.right .course-box-img {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}

.course-cards-link {
  text-align: center;
  margin: 20px auto 20px;
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--accent);
  padding: 6px;
  border: 1px solid var(--accent);
  border-radius: 12px;
  width: 105px;
}

/* course end */

/* tutor start */

.tutor-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: wrap;
}

.tutor-card {
  max-width: 261px;
  max-height: 430px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.tutor-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tutor-card-info {
  position: absolute;
  bottom: 10px;
  left: 11px;
  right: 11px;
}

.tutor-card-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 6px;
  text-shadow: 1px 0 1px #000;
}

.tutor-card-link {
  width: 100%;
  height: 42px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 222;
}

.tutor-info {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.tutor-desc-header {
  display: flex;
  gap: 10px;
  margin-bottom: 23px;
}

.tutor-desc-header h5 {
  font-size: 20px;
}

.tutor-desc-header p {
  font-size: 12px;
}

.tutor-card-txt {
  width: 398px;
  height: 35px;
  font-size: 14px;
  line-height: 13px;
  color: #B0B0B0;
}

/* tutor end */

/* feature start */

.feature {
  padding-top: 0;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.feature-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: #D9D9D9;
  border-radius: 19px;
}

.feature-card {
  max-width: 320px;
  width: 100%;
  height: 141px;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 17px;
}

.feature-card-img {
  width: 69.95px;
  height: 69.95px;
  background: #006069;
  border-radius: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.feature-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feature-card-title {
  font-size: 15px;
  padding: 1px 7px 2px;
  border: 1px solid #000;
  border-radius: 19px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.feature-card-number {
  font-size: 64px;
  font-family: "Gotham";
  font-weight: 900;
}

.feature-review {
  background: #d9d9d9;
  border-radius: 19px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feature-review-author {
  font-size: 24px;
  margin-bottom: 15px;
}

.feature-review-txt {
  font-size: 16px;
  color: #474747;
  max-width: 797px;
  line-height: 18.75px;
  text-align: center;
}

.swiper {
  max-width: 1141px;
  width: 100%;
  height: 410px;
  overflow: visible;
}

.swiper-icons-circle {
  width: 83px;
  height: 84px;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
  overflow: hidden;
}

.swiper-icons-circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-icons {
  position: absolute;
  top: -430px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 17px;
  overflow: hidden;
}

.swiper-icons-circle-bg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* feature end */

/* footer start */

.swiper-footer {
  height: 437px;
}

.footer {
  max-height: 100vh;
  height: 100%;
  background: #074444;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  z-index: 997;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 11;
}

.footer-item {
  margin-bottom: 23px;
}

.footer-item-img {
  width: 207px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 68px;
  z-index: 11;
}

.footer::after {
  content: "";
  position: absolute;
  width: 1996.55px;
  height: 1224.76px;
  left: 925.16px;
  top: -1056px;
  background: rgba(2, 190, 179, 0.3);
  -webkit-filter: blur(250px);
  filter: blur(250px);
  -webkit-transform: rotate(0.29deg);
  -ms-transform: rotate(0.29deg);
  transform: rotate(0.29deg);
  z-index: 0;
}

.footer::before {
  content: "";
  position: absolute;
  width: 1996.55px;
  height: 1224.76px;
  left: -910.84px;
  top: 638px;
  background: rgba(2, 190, 179, 0.3);
  -webkit-filter: blur(250px);
  filter: blur(250px);
  z-index: 0;
  -webkit-transform: rotate(0.29deg);
  -ms-transform: rotate(0.29deg);
  transform: rotate(0.29deg);
}

.footer-item a {
  color: #fff;
  font-size: 20px;
  display: block;
}

.footer-table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-table-days {
  margin-bottom: 13px;
}

.footer-table-day {
  width: 52px;
  height: 23px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
}

.footer-table-times {
  margin-bottom: 29px;
}

.footer-table-time {
  width: 52px;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.footer-table-date {
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 13px;
  position: relative;
}

.footer-table-date::after {
  position: absolute;
  content: "";
  width: 41px;
  height: 1px;
  background: #FFFFFF;
}

.footer-list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 23px;
}

.footer-contact-item div {
  width: 60px;
  height: 60px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-contact-address {
  font-size: 14px;
  max-width: 327px;
}

.swiper-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  font-size: 24px;
  color: #000;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
}

/* footer end */

/* course page */

.course-boxes-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-course .container {
  margin-bottom: 70px;
}

.course-course .container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 16px 0 100px;
}

.about-course-section .about-header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-course-section .about-header-form button {
  background: var(--accent);
  color: #fff;
}

.about-course-form {
  max-width: 546px;
  width: 100%;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-course-form input,
.about-course-form button {
  height: 58px;
}

.course-txt-2 {
  font-size: 16px;
  margin: 20px 0 60px;
}

.course-main .course {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 0 50px;
}

.main-link {
  padding: 130px 0 44px;
}

.main-link-a {
  font-family: "Montserrat";
  color: #000;
}

.main-link-active {
  font-family: "Gotham";
  color: #006069;
}

.menu,
.menu-course {
  display: none;
}

.body-btns {
  position: fixed;
  bottom: 5%;
  right: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 10px;
  z-index: 999;
}

.body-btn {
  width: 61px;
  height: 50px;
}

.course-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up {
  position: fixed;
  bottom: 5%;
  left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  z-index: 997;
}

/*  */

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925") no-repeat 0 0;
  -webkit-filter: blur(80px);
  filter: blur(80px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*-------------------- Chat --------------------*/

.chat {
  width: 458px;
  height: 519px;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: #D9D9D9;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*-------------------- Chat Title --------------------*/

.chat-title {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45px;
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: left;
  padding: 10px 10px 10px 50px;
}

.chat-closeBtn {
  position: absolute;
  top: 53%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chat-title h1,
.chat-title h2 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 700;
}

.chat-title h2 {
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 1px;
}

.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #FFFFFF;
}

.chat-title .avatar img {
  width: 22px;
  height: 25px;
}

/*-------------------- Messages --------------------*/

.messages {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #000;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 12px;
}

.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}

.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: #BCBCBC;
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: #000;
}

.messages .message::before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-top: 6px solid #BCBCBC;
  left: 0;
  border-right: 7px solid transparent;
}

.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #006069;
}

.messages .message .avatar img {
  width: 20px;
  height: 23px;
}

.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  background: #006069;
  border-radius: 10px 10px 0 10px;
}

.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #006069;
  bottom: -4px;
}

.messages .message:last-child {
  margin-bottom: 30px;
}

.messages .message.new {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
  animation: bounce 500ms linear both;
}

.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}

.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}

.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/*-------------------- Message Box --------------------*/

.message-box {
  width: 100%;
  padding: 25px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  background: #006069;
  color: #fff;
  font-size: 14px;
  height: 45px;
  margin: 0;
  padding: 15px;
  width: 346px;
  border-radius: 10px;
}

.message-box textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.message-box textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.message-box textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.message-box textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.message-box textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}

.message-box .message-submit {
  background: #006069;
  border: none;
  width: 45px;
  height: 45px;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.message-box .message-submit img {
  z-index: 99;
  width: 23.27px;
  height: 23.27px;
}

/*-------------------- Custom Srollbar --------------------*/

.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside>.mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*-------------------- Bounce --------------------*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
    transform: translateY(0) scaleY(0.8);
  }

  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
    transform: translateY(0) scaleY(0.8);
  }

  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.exit {
  z-index: 999;
}

.course-box-img-right {
  -webkit-transform: translate(67px, 9px);
  -ms-transform: translate(67px, 9px);
  transform: translate(67px, 9px);
}

/* 11 */
.btn-11 {
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
  color: #fff;
  overflow: hidden;
  position: relative;
}

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 7s ease-in-out infinite;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/*  */

/* modal */

.modal {
  position: relative;
  z-index: 999;
}

.modal__container {
  padding: 20px 40px;
  width: 100%;
  max-width: 80%;
  min-height: 85vh;
}

.modal__container-tutor {
  width: 900px;
  height: 550px;
  background: #fff;
}

.modal__title {
  text-align: center;
  width: 100%;
  color: #454545;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.modal__header {
  width: 100%;
  justify-content: flex-end;
}

.modal__close {
  opacity: 0.8;
  transition: .4s;
  position: relative;
  top: -5px;
  font-weight: 700;
  cursor: pointer;
  font-size: 24px;
  padding: 15px;
}

.modal__overlay {
  z-index: 999;
}

.modal__close:hover {
  opacity: 1;
}

.swiper-youtube {
  overflow: hidden;
}

.swiper-slide {
  max-width: 100%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide iframe,
.swiper-slide img {
  width: 90%;
  height: 70vh;
  border: none;
  outline: none;
  overflow: hidden;
}

.swiper-slide img {
  width: 70%;
}

.swiper-button-prev {
  padding-left: 20px;
  color: var(--accent);
}

.swiper-button-next {
  padding-right: 20px;
  color: var(--accent);
}

.swiper-pagination {
  margin-top: 15px;
}

.swiper-pagination-bullet-active {
  background: var(--accent);
}

/* modal */

.reviews {
  padding: 70px 0 30px;
  overflow: hidden;
}

/* media start */

.media .container {
  overflow: hidden;
}

.media-swiper .swiper-wrapper,
.media-swiper2 .swiper-wrapper {
  display: flex;
  align-items: center;
  height: 400px;
}

.media-slide.swiper-slide {
  width: 350px;
  height: 226px;
  border-radius: 10px;
}

.media-slide.swiper-slide-active {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.media-slide.swiper-slide-prev iframe,
.media-slide.swiper-slide-next iframe,
.media-slide.swiper-slide-active iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.media-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-toggles {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  margin-bottom: 30px;
}

.media-toggles::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 1.2px;
  height: 51.82px;
  background-color: #000;
}

.media-toggle {
  width: 282px;
  height: 51.82px;
  background: #D9D9D9;
  border-radius: 19px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 24px;
}

.media-toggle.active {
  background: var(--accent);
  color: #fff;
}

.swiper-button-next2,
.swiper-button-prev2 {
  position: relative;
  width: 25px;
  height: 25px;
  background: url(../img/left.png);
  cursor: pointer;
  transform: translateY(-15px);
}

.swiper-button-next2 {
  transform: rotate(180deg) translateY(15px);
}

/* media end */

/* gallery start */

.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-txt {
  max-width: 550px;
  width: 100%;
  color: #474747;
  margin-bottom: 15px;
  text-align: center;
}

.gallery-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gallery-card {
  width: 337px;
  height: 206px;
  background: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  flex-direction: column;
}

.gallery-card-img {
  width: 140px;
  height: 139px;
  object-fit: cover;
  transition: .3s;
}

.gallery-card:hover .gallery-card-img {
  transform: scale(1.05);
}

.gallery-card-txt {
  font-size: 20px;
  background: #fff;
  padding: 6px 6px;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

/* gallery end */